- @books.each do |book|
  .search-result__container__lists
    - if book.item_url
      .book_image
        = link_to (image_tag(book.medium_image_url, style: "width: auto; height: auto; display: inline-block;")), book.item_url
      .book_title
        = book.title
      .book_author
        = book.author
      .book_caption
        出版社名：
        = book.publisher_name
      .book_price
        ¥
        = book.item_price.to_s(:delimited)
